# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Newline ending every file, no trailing whitespace, 4 space indentation
[*.{hpp,cpp}]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
